---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical-range?date_end=2024-07-31&date_start=2024-01-01&from=USD&page=1&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"date":"2024-01-01","rates":{"GBP":0.78}},{"date":"2024-01-02","rates":{"GBP":0.79}},{"date":"2024-01-03","rates":{"GBP":0.78}},{"date":"2024-01-04","rates":{"GBP":0.79}},{"date":"2024-01-05","rates":{"GBP":0.78}},{"date":"2024-01-06","rates":{"GBP":0.79}},{"date":"2024-01-07","rates":{"GBP":0.78}},{"date":"2024-01-08","rates":{"GBP":0.79}},{"date":"2024-01-09","rates":{"GBP":0.78}},{"date":"2024-01-10","rates":{"GBP":0.79}},{"date":"2024-01-11","rates":{"GBP":0.78}},{"date":"2024-01-12","rates":{"GBP":0.79}},{"date":"2024-01-13","rates":{"GBP":0.78}},{"date":"2024-01-14","rates":{"GBP":0.79}},{"date":"2024-01-15","rates":{"GBP":0.78}},{"date":"2024-01-16","rates":{"GBP":0.79}},{"date":"2024-01-17","rates":{"GBP":0.78}},{"date":"2024-01-18","rates":{"GBP":0.79}},{"date":"2024-01-19","rates":{"GBP":0.78}},{"date":"2024-01-20","rates":{"GBP":0.79}}],"paging":{"current_page":1,"total_pages":1,"total_records":213}}'
  recorded_at: Fri, 16 May 2025 13:01:36 GMT
recorded_with: VCR 6.3.1