---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical?date=2024-01-01&from=USD&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"rates":{"GBP":0.78}}}'
  recorded_at: Fri, 16 May 2025 13:01:36 GMT
recorded_with: VCR 6.3.1