---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AAPL/open-close?end_date=2024-08-01&operating_mic_code=XNAS&page=1&start_date=2024-01-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"ticker":"AAPL","currency":"USD","exchange":{"name":"Nasdaq/Ngs (Global
        Select Market)","mic_code":"XNGS","operating_mic_code":"XNAS","acronym":"NGS","country":"United
        States","country_code":"US","timezone":"America/New_York"},"prices":[{"date":"2024-01-01","open":220.5,"close":220.77,"high":224.23,"low":219.47,"volume":63042556},{"date":"2024-01-02","open":220.81,"close":221.25,"high":224.58,"low":219.74,"volume":62601111},{"date":"2024-01-03","open":221.21,"close":222.31,"high":225.5,"low":220.4,"volume":62764716},{"date":"2024-01-04","open":222.74,"close":221.86,"high":225.31,"low":219.64,"volume":62741994},{"date":"2024-01-05","open":223.33,"close":223.29,"high":225.15,"low":221.81,"volume":63188091},{"date":"2024-01-08","open":223.58,"close":223.95,"high":227.41,"low":220.55,"volume":62771671},{"date":"202[...]
[...]
