---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AAPL?operating_mic=XNAS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"symbol":"AAPL","name":"Apple Inc.","links":[],"logo_url":"https://example.com/logo.png","description":"Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide.","kind":"common stock"}}'
  recorded_at: Fri, 16 May 2025 13:01:36 GMT
recorded_with: VCR 6.3.1