<div class="space-y-4 pb-20">
  <header class="flex justify-between items-center">
    <h1 class="text-xl font-medium text-primary"><%= t(".title") %></h1>
  </header>

  <%# Trend Visualization %>
  <section class="bg-container rounded-xl shadow-border-xs p-4">
    <%= render "data_tracking/trend_chart" %>
  </section>
</div>
