<%= content_for :page_title, t(".page_title") %>

<div class="mb-4">
  <%= render DS::Link.new(
    text: t(".back"),
    href: settings_weekly_report_deliveries_path,
    variant: "ghost",
    icon: "chevron-left"
  ) %>
</div>

<%= render "weekly_reports/report", presenter: @report_presenter, variant: :app %>
