<%= render DS::Dialog.new do |dialog| %>
  <% dialog.with_header(title: "Connect Broker") %>
  <% dialog.with_body do %>
    <% if @error_message.present? %>
      <div class="mb-4">
        <%= render DS::Alert.new(message: @error_message, variant: :error) %>
      </div>
    <% end %>

    <% if @account.accountable_type == "Crypto" %>
      <%# Binance: show API key/secret form %>
      <%= render "broker_connections/binance_form", account: @account, api_key: @api_key, return_to: @return_to %>
    <% elsif @account.accountable_type == "Investment" %>
      <%# Schwab: redirect to OAuth %>
      <%= render "broker_connections/schwab_form", account: @account, schwab_authorization_url: @schwab_authorization_url, return_to: @return_to %>
    <% end %>
  <% end %>
<% end %>
