<%= render DS::Dialog.new(reload_on_close: true) do |dialog| %>
  <%
    title = if @rule.name.present?
              t("rules.confirm.confirm_title_named", name: @rule.name)
            else
              t("rules.confirm.confirm_title")
            end
  %>
  <% dialog.with_header(title: title) %>

  <% dialog.with_body do %>
    <p class="text-secondary text-sm mb-4">
      <%= t("rules.confirm.confirm_body_html",
            count: @rule.affected_resource_count,
            resource_type: @rule.resource_type.pluralize).html_safe %>
    </p>

    <%= render DS::Button.new(
      text: t("rules.confirm.confirm_button"),
      href: apply_rule_path(@rule),
      method: :post,
      full_width: true,
      data: { turbo_frame: "_top" }) %>
  <% end %>
<% end %>
